<style>
  #contain { max-width: 1980px !important; }
</style>

<section class="py-8 lg:py-16">
  <div id="contain" class="mx-auto my-8">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 px-4 sm:px-6 lg:px-8">
      <div class="border-2 bg-secondary-100 dark:bg-secondary-950 border-primary-900/10 dark:border-primary-300/10 py-8 px-4 sm:px-6 lg:px-8 flex items-start rounded-3xl">
        <div class="w-full">
          <h4 class="text-3xl text-secondary-950 dark:text-white font-semibold mb-4">Process</h4>
          <div class="text-base leading-6">
            <slot name="process">Process details will be displayed here</slot>
          </div>
        </div>
      </div>
    
      <div class="border-2 bg-secondary-100 dark:bg-secondary-950 border-primary-900/10 dark:border-primary-300/10 py-8 px-4 sm:px-6 lg:px-8 flex items-start rounded-3xl">
        <div class="w-full">
          <h4 class="text-3xl text-secondary-950 dark:text-white font-semibold mb-4">Deliverables</h4>
          <div class="text-base leading-6">
            <slot name="deliverables">Deliverables will be displayed here</slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>