---
const bottomLinks = [
  
  {
    header: 'Main',
    links: [
      {
        name: 'Home',
        href: '/',
        isExternal: false,
      },
      {
        name: 'About',
        href: '/about',
        isExternal: false,
      },
      {
        name: 'Packages',
        href: '/packages',
        isExternal: false,
      },
      {
        name: 'Contact',
        href: '/contact',
        isExternal: false,
      },
    ],
  },
  {
    header: 'Services',
    links: [
      {
        name: 'Festoon Lighting',
        href: 'packages/festoon-lighting',
        isExternal: false,
      },
      {
        name: 'Fairy Lights',
        href: 'packages/fairy-lights',
        isExternal: false,
      },
      {
        name: 'Lighting Design',
        href: 'packages/lighting-design',
        isExternal: false,
      },
      {
        name: 'Installation Hire',
        href: 'packages/installation-hire',
        isExternal: false,
      },
    ],
  },
  {
    header: 'Service Areas',
    links: [
      {
        name: 'Gold Coast',
        href: '/service-areas/gold-coast',
        isExternal: false,
      },
      {
        name: 'Brisbane',
        href: '/service-areas/brisbane',
        isExternal: false,
      },
      {
        name: 'Murwillumbah',
        href: '/service-areas/murwillumbah',
        isExternal: false,
      },
      {
        name: 'Festivals',
        href: '/service-areas/festivals',
        isExternal: false,
      },
    ],
  },
  {
    header: 'Social',
    links: [
      {
        name: 'Github',
        href: 'https://github.com/aidenwood',
        isExternal: true,
      },
      {
        name: 'Instagram',
        href: 'https://instagram.com/aidxn.design',
        isExternal: true,
      },
      {
        name: 'Facebook',
        href: 'https://facebook.com/aidxn.design',
        isExternal: true,
      },
      {
        name: 'Twitter',
        href: 'https://twitter.com/aidxn.design',
        isExternal: true,
      },
    ],
  },
];
---

<style>
  #contain { max-width: 1920px; }

  svg{width:100%;height:100%;perspective:50px}circle{stroke:#26003A;stroke-width:8px;fill:none}.equator{stroke:#a600ff; transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
  
</style>

<footer
  class="bg-secondary-950 py-16 lg:py-20"
  aria-labelledby="footer-heading"
>
  <h3 id="footer-heading" class="sr-only">Footer</h3>
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-8 md:gap-12 xl:flex-row">
      <div class="flex w-full flex-col items-start justify-center gap-6 sm:gap-8">
        <img
          class="h-auto w-1/4 sm:h-24 lg:h-36 sm:w-auto"
          :src="$store.theme.isDark ? '/gc-horticulture-dark.svg' : '/gc-horticulture-dark.svg'"
          alt="The Horticulture Company - Gold Coast Landscaping and Native Restorations"
        />
        <p class="text-white text-lg sm:text-xl max-w-3xl">
          Gold Coast landscaping and gardening restoration, focusing on native ecosystems and native landscape restoration.
        </p>
        <div class="flex flex-row sm:grid-col-2 gap-8">
          <p class="text-white text-lg sm:text-xl">ABN: 25 017 844 849</p>
          <p class="text-white text-lg sm:text-xl">© 2025 The Horticulture Company</p>
          
        </div>
        <p class="text-white text-lg sm:text-xl">Website Design by <a href="aidxn.com/" class="font-bold hover:underline">Aidxn Design</a></p>
      </div>

      <!-- Bottom links -->
      <div class="grid w-full grid-cols-1 gap-y-12 gap-x-4 sm:grid-cols-2 md:grid-cols-4 justify-end mt-8">
        {
          bottomLinks.map((group) => (
            <div class="flex flex-col justify-center gap-8 text-white">
              <p class="text-3xl sm:text-xl md:text-2xl font-medium">{group.header}</p>
              <ul role="list" class="flex flex-col gap-4">
                {group.links.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200 inline-flex items-center gap-1 rounded-md text-lg md:text-md hover:underline focus-visible:outline focus-visible:outline-2"
                      target={link.isExternal ? '_blank' : undefined}
                      rel={link.isExternal ? 'noopener' : undefined}
                    >
                      {link.name}
                      {link.isExternal && (
                        <svg
                          class="h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                        </svg>
                      )}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
    <!-- New Row for submissions  -->
  </div>
</footer>
