
<section class="py-28" id="packages">
  <div class="mx-auto px-4 sm:px-6 w-full lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-center gap-8 sm:gap-10">
        
        <div class="w-full gap-4">
          <h2 class="text-base uppercase font-thin tracking-widest">
            Commercial-grade festoon lighting hire
          </h2>
          <h3 class="text-3xl sm:text-4xl font-medium tracking-tight my-6">
            Festoon light hire packages
          </h3>
          <p class="text-primary-950/80 dark:text-primary-200/80 text-xl max-w-6xl">
            Hassle-free event lighting hire, from delivery to pack down, we've got you covered. 
            All rigging (gripples and steel wire) included. Creating custom lighting designs to each venue for your approval.
          </p>
          
          <div class="">
            <a
              href="/lighting-packages"
              class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Packages
            </a>
            <a
              href="/contact"
              class="mt-8 mr-2 bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Contact
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
